.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: 200px;
    width: 200px;
}

.card img {
    max-width: 100%;
}

.add-to-cart {
    background-color: yellow;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}