.contacto {
    text-align: center;
    color: black;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

.titulo {
    color: black;
    width: 600;
}

h2 {
    color: black;
    width: 600;
}

/* Estilos adicionales para centrar la imagen */
img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}